<!DOCTYPE html>

<head>
    <!-- Libreria boostrap -->
    <link rel="stylesheet" href="../../lib/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../css/ui.css">
    <link rel="stylesheet" href="../../css/pedidos.css">
</head>
<div>
    <div class="div-principal-pedidos">
        <!-- navbar -->
        <nav class="navbar navbar-light color-institucional">
            <div class="container-fluid">
                <a class=""></a>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscador" aria-label="Search">

                </form>
            </div>
        </nav>
        <!-- Fin navbar -->

        <div class="div-secundario-pedidos">
            <div class="tabla">
                <table class="table table-hover" style="background-color: #FFF3CD;">
                    <thead>
                        <tr>
                            <th scope="col"># cliente</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">telefono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1010141548</th>
                            <td>Mark Andres Torres</td>
                            <td>3136485659</td>
                        </tr>
                        <tr>
                            <th>31431948</th>
                            <td>Jacob Perez</td>
                            <td>3009845612</td>
                        </tr>
                        <tr>
                            <th>1087965456</th>
                            <td>Andres Gomez</td>
                            <td>3119654852</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</html>