<!DOCTYPE html>

<head>
    <!-- Libreria boostrap -->
    <link rel="stylesheet" href="/lib/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/lib/node_modules/izitoast/dist/css/iziToast.min.css">
    
    <link rel="stylesheet" href="/css/ui.css">
    <link rel="stylesheet" href="/css/pedidos.css">
</head>

<div class="div-principal-pedidos">
    <!-- navbar -->
    <nav class="navbar navbar-light color-institucional">
        <div class="container-fluid">
            <a class=""></a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscador" aria-label="Search">

            </form>
        </div>
    </nav>
    <!-- Fin navbar -->
    <div class="div-secundario-pedidos">
         <div class="spinner-border text-warning d-none" role="status" style="width: 3.5rem; height: 3.5rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="tabla">
            <table class="table table-hover" style="background-color: #FFF3CD;">
                <thead>
                    <tr>
                        <th scope="col"># Pedido</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Identificación</th>
                        <th scope="col">Items</th> 
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody id="tabla-pedidos">
                    
                </tbody>
            </table>
        </div>
    </div>

    <!-- Ver mas -->
     <div class="modal fade" id="modalVerMas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-scrollable">
         
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title titulo-menu" id="modalVerMas"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="descripcion-menu"></p>
            </div>
            </div>

         </div>
     </div>
     <!--  -->

    <script type="text/javascript" src="/lib/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/lib/node_modules/@pablotheblink/flashyjs/flashy.js"></script>
    <script type="text/javascript" src="/lib/node_modules/izitoast/dist/js/iziToast.min.js"></script>

    <script type="text/javascript" src="/views/js/global.js"></script>
    <script type="text/javascript" src="/views/entrega/js/entrega.js"></script>
</div>
</html>