/**
* Aqui estara todo lo referente a diseño general del app
*/

.color-institucional {
    background-color: #FFC107;
}
.color-institucional-secundario {
    background-color: #664D03;
}


.inactive{
    background-color: darkgrey;
}
.nav-pills .nav-link.active,.nav-pills .show>.nav-link {
    background-color: #664D03;
}

.yellow-100 { background-color: #fff3cd; }
.yellow-200 { background-color: #ffe49c; }
.yellow-300 { background-color: #ffd766; }
.yellow-400 { background-color: #ffcb2f; }
.yellow-500 { background-color: #ffc107; }
.yellow-600 { background-color: #d4a006; }
.yellow-700 { background-color: #a57d05; }
.yellow-800 { background-color: #775a04; }
.yellow-900 { background-color: #4a3702; }

.nav-item {
    width: 100%;
}