<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/logon-min-infinito-negro.png" sizes="16x16"/>
    <link rel="stylesheet" href="/lib/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/terminar_pedido.css">
</head>
<body>
    <div class="content">
        <header>
            <div class="cont-log">
                <img src="/assets/img/logo.png" class="logo" alt="">
            </div>
            <div class="m-3">
                <h3>Total: $ <span id="total">0</span></h3>
            </div>
        </header>

        <main class="d-flex justify-content-center">
            
            <div class="card d-flex" style="width: 90%; height: 90%;">
                
                <ul class="list-group list-group-flush list-prepedido">
                    <div class="loading">
                        <div class="spinner-border text-warning d-none" role="status" style="width: 3.5rem; height: 3.5rem;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                </ul>
            </div>
            <!-- Botones flotantes -->
             <a  href="/views/index.html"><button class="btn btn-warning position-fixed bottom-0 start-0 mb-4 ms-4">
                <i class="bi bi-caret-left-square-fill"></i> Volver
            </button></a>
            <button class="btn btn-warning position-fixed bottom-0 end-0 m-4" data-bs-toggle="modal" data-bs-target="#addPedido">
                <i class="bi bi-bag-check-fill"></i> Pedir
            </button>
            
        </main>
    </div>

     <!-- Modal Crear-->
    <div class="modal fade" id="addPedido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Completar datos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="terminarPedido">
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="identificacion" name="identificacion">
                            <label for="identificacion">Identificacion</label>
                        </div>
    
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nombre" name="nombre">
                            <label for="nombre">Nombre</label>
                        </div>
    
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="telefono" name="telefono">
                            <label for="telefono">Telefono/Celular</label>
                        </div>
    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning">Continuar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/lib/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/lib/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/lib/node_modules/@pablotheblink/flashyjs/flashy.js"></script>

    <script type="text/javascript" src="/views/terminar_pedido/js/terminar_pedido.js"></script>
</body>
</html>