<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="icon" type="image/x-icon" href="../../assets/img/logon-min-infinito-negro.png" sizes="16x16" />
    <link rel="stylesheet" href="../../lib/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/login.css">
</head>

<body>
    <div class="content">
        <header>
            <div class="cont-log">
                <img src="../../assets/img/logo.png" class="logo" alt="">
            </div>
        </header>
        <main>
            <div class="div-principal-login">
                <h4 class="text-center mb-4">Iniciar Sesión</h4>

                <div class="form">
                    <div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="bi bi-person-circle"></i>
                            </span>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Identificación">
                                <label for="floatingInputGroup1">Identificación</label>
                            </div>
                        </div>
    
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="bi bi-lock-fill"></i>
                            </span>
                            <div class="form-floating">
                                <input type="password" class="form-control" id="floatingInputGroup1" placeholder="Contraseña">
                                <label for="floatingInputGroup1">Contraseña</label>
                            </div>
                        </div>
                    </div>
                    <div class="btn-container">
                        <a  href="../dashboard/dashboard.html"><button class="btn btn-warning w-100">Ingresar</button></a>
                    </div>
                </div>

            </div>
        </main>
    </div>
</body>

</html>