<!DOCTYPE html>

<head>
    <!-- Libreria boostrap -->
    <link rel="stylesheet" href="../../lib/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../css/ui.css">
</head>
<div>
    <!-- navbar -->
    <nav class="navbar navbar-light color-institucional">
        <div class="container-fluid">
            <a class=""></a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscador" aria-label="Search">

            </form>
        </div>
    </nav>

    <!-- ======= CONTENIDO PRINCIPAL (Cajas actualizadas) ======= -->

    <div class="container-fluid" style="margin-left: 0px; margin-top: 20px;">
        <div class="row g-4">

            <!-- Caja 1 -->
            <div class="col-md-3">
                <div class="caja text-center p-3 border border-dark rounded">
                    <img src="../../assets/img/papas.jpg" class="img-fluid rounded mb-3" alt="Producto">
                    <p class="card-text">
                        <span class="title-card-body">Consumir en mesa</span><br>
                        <span class="title-card-body">Papas a la francesa</span><br>
                    <p class="descrip-card-body">300g de papas a la francesa </p>
                    </p>
                    <div class="input-group">
                        <button class="btn btn-outline-secondary dropdown-toggle badge bg-warning w-100" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Listo para entrega</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">En preparación</a></li>
                            <li><a class="dropdown-item" href="#">Listo para entrega</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Caja 2 -->
            <div class="col-md-3">
                <div class="caja text-center p-3 border border-dark rounded">
                    <img src="../../assets/img/carne.jpg" class="img-fluid rounded mb-3" alt="Producto">
                    <p class="card-text">
                        <span class="title-card-body">Consumir en mesa</span><br>
                        <span class="title-card-body">Carne asada</span><br>
                    <p class="descrip-card-body">300g de carne asada</p>
                    </p>
                    <div class="input-group">
                        <button class="btn btn-outline-secondary dropdown-toggle badge bg-warning w-100" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Listo para entrega</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">En preparación</a></li>
                            <li><a class="dropdown-item" href="#">Listo para entrega</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Caja 3 -->
            <div class="col-md-3">
                <div class="caja text-center p-3 border border-dark rounded">
                    <img src="../../assets/img/bandeja.jpg" class="img-fluid rounded mb-3" alt="Producto">
                    <p class="card-text">
                        <span class="title-card-body">Para llevar</span><br>
                        <span class="title-card-body">Bandeja Paisa</span><br>
                    <p class="descrip-card-body">Arroz, frijol, 100g de carge, chorizo, aguacate, tajada, Huevo<span
                            style="color: blue">ver mas</span></p>
                    </p>
                    <div class="input-group">
                        <button class="btn btn-outline-secondary dropdown-toggle badge bg-primary w-100" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">En preparación</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">En preparación</a></li>
                            <li><a class="dropdown-item" href="#">Listo para entrega</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Caja 4 -->
            <div class="col-md-3">
                <div class="caja text-center p-3 border border-dark rounded">
                    <img src="../../assets/img/cazuela.jpeg" class="img-fluid rounded mb-3" alt="Producto">
                    <p class="card-text">
                        <span class="title-card-body">Para llevar</span><br>
                        <span class="title-card-body">Cazuela de marisco</span><br>
                    <p class="descrip-card-body">filete de pescado, camarón, almeja en concha, calamar pota...<span
                            style="color: blue">ver mas</span></p>
                    </p>
                    <div class="input-group">
                        <button class="btn btn-outline-secondary dropdown-toggle badge bg-success w-100" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Pagado</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">En preparación</a></li>
                            <li><a class="dropdown-item" href="#">Listo para entrega</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ===== FIN CONTENIDO ===== -->
</div>

<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../lib/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>

</html>